body{
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}
.table1{
    margin: 2rem;
}
.carrusel{
    margin: auto;
    height: 600px;
    width: 600px;
    margin-bottom: 2rem;
}
.boton{
    display: flex;
    background-color: rgb(52,58,64);
    justify-content: space-around;
    border: 5px solid #323670;
    border-radius: 40px 40px 40px 40px;
    margin-left: 550px;
    margin-right: 550px;
    color: white;
}
.boton svg{
    margin-right: .5rem;
    height: 30px;
    width: 30px;
    fill: white;

}
.boton :hover{
    background-color: black;
    cursor: pointer;
}
.pharagrap{
    text-align: center;
}
footer img{
    height: 20px;
    width: 25px;
}
footer{
    display: flex;
    border-top:  5px solid blue;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    margin-top: 3rem;
}
.responsive{
    margin-left: 5%;
    margin-right: 5%;
}
.responsive p{
    font-size: 15px;
}
@media (max-width:480px){
    .responsive p{
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width:1024px){
    .responsive p{
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
}